<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/contractors.css}">
    <!--     Optional JavaScript-->
    <!--     jQuery first, then Popper.js, then Bootstrap JS-->
    <script  th:src="@{/js/lib/jquery-3.2.1.slim.min.js}"></script>
    <script  th:src="@{/js/lib/bootstrap.min.js}"></script>
    <script  th:src="@{/js/lib/popper.min.js}"></script>
    <title> == Car Rental App == </title>
</head>
</html>