<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Contractor</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<div th:replace="~{fragments/menu :: menuFragment}"/>
<div class="container">
    <div class="row">

        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div>

                <form th:action="@{add_reservation}" th:object="${reservation}" method="post">

                    <p>&nbsp;</p>
                    <H5 th:if="*{id != null}" align="center">Edit reservation:</H5>
                    <H5 th:if="*{id == null}" align="center">Confirm reservation:</H5>
                    <p>&nbsp;</p>

                    <div align="center" class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('all')}">
                        <h5>Error. Wrong data format:</h5>
                        <i th:errors="*{all}">Incorrect data</i>
                    </div>
                    <p>&nbsp<br></p>

                    <div th:if="*{id != null}" class="form-group row">
                        <label for="inputId" class="col-sm-2 col-form-label">Id</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputId" th:field="*{id}" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputUserName" class="col-sm-2 col-form-label">User</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUserName" th:field="*{userName}"
                                   th:errorclass="'form-control is-invalid'" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputCarId" class="col-sm-2 col-form-label">Manufacturer</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCarId" th:field="*{car.id}"
                                   th:errorclass="'form-control is-invalid'" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputManufacturer" class="col-sm-2 col-form-label">Manufacturer</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputManufacturer" th:field="*{car.manufacturer}"
                                   th:errorclass="'form-control is-invalid'" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputModel" class="col-sm-2 col-form-label">Model</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputModel" th:field="*{car.model}"
                                   th:errorclass="'form-control is-invalid'" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputDateFrom" class="col-sm-2 col-form-label">Date From</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputDateFrom" th:field="*{dateFrom}"
                                   th:errorclass="'form-control is-invalid'" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputDateFrom" class="col-sm-2 col-form-label">Date From</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputDateTo" th:field="*{dateTo}"
                                   th:errorclass="'form-control is-invalid'" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputTotalCost" class="col-sm-2 col-form-label">Total cost [PLN]</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputTotalCost" th:field="*{totalCost}"
                                   th:errorclass="'form-control is-invalid'" readonly>
                        </div>
                    </div>

                    <div align="center">
                        <input type="submit" class="btn btn-light" value="Submit">
                        <a href="/cars" class="btn btn-light" role="button" aria-pressed="true">Go Back</a>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<div align="center">
    <footer id="footerId">this is a footer</footer>
</div>
</body>
</html>