<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId"></head>
<body class="p-3 mb-2 bg-dark text-white">
<div th:replace="~{fragments/menu :: menuFragment}"/>
<div class="container-md" align="center">
    <p>&nbsp;</p>
    <H5>Reservation detail:</H5>
    <p>&nbsp;</p>
    <div id="principal" align="left">
        <p>Purchaser:</p>
        <h3 th:utext="${reservation.user.getFirstName()} + ' ' + ${reservation.user.getLastName()}">Error. Purchaser not fetched.</h3>
        <p><br></p>
        <h4 th:text="'Reservation no: '+${reservation.id}">Reservation no: could not fetched</h4>
    </div>


    <table id="table" class="table table-striped table-dark" border="2" cellpadding="10">
        <tr>
            <th>Reservation Date</th>
            <th>Car</th>
            <th>Rent period</th>
            <th>Total Cost</th>
        </tr>
        <tr>
            <td th:text="${reservation.reservationDate}"/>
            <td th:utext="${reservation.car.manufacturer} + ' ' + ${reservation.car.model}"/>
            <td th:utext="'from: ' + ${reservation.dateFrom} + '<br>'
                + 'to: ' + ${reservation.dateTo}"/>
            <td th:text="${reservation.totalCost}"/>
        </tr>
    </table>

    <a id="editOrderId" class="btn btn-light btn-sm" role="button" aria-pressed="true">Edit</a>
    <a id="deleteOrderId" class="btn btn-light btn-sm" role="button" aria-pressed="true">Delete</a>
    <a href="javascript:genPDF()" class="btn btn-light btn-sm" role="button" aria-pressed="true">Generate PDF</a>

</div>
<div align="center">
    <footer id="footerId">this is a footer</footer>
</div>

</body>

<script type="text/javascript" th:src="@{/js/lib/jspdf.min.inc.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jspdf.plugin.autotable.js}"></script>
<script type="text/javascript">
    function genPDF() {
        var doc = new jsPDF();
        var principal = document.querySelector('#principal');
        var car = document.querySelector('#car');
        doc.fromHTML(principal, 15, 15)
        doc.fromHTML(car, 110, 70)
        doc.autoTable({
            startY: 130,
            html: '#table'
        })
        doc.save('Test.pdf');
    }
</script>
</html>